!.gitignore
*.o
build*
*.gcov
*~
*.user
pkg/ubuntu/deb_temp
cov-int
*.autosave
www/node_modules
www/logs/app.log
*.ipch
*.sdf
*.obj
*.pdb

src/tarotclub-srv/tarotclub-srv.pro.user.4.8-pre1

src/tarotclub-gui/tarotclub-gui.pro.user.4.8-pre1

src/tarotclub-srv/tarotclub-srv.pro.user.7e93c85
